@charset "UTF-8";

body {
    background-color: black;
    color: silver;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: #ccccaa;
}

a:visited {
    color: #aaaa88;
}

a:hover {
    color: #ffffaa;
    border-bottom: 0px solid yellow;
    text-decoration: underline;
}

a:active {
    background-repeat : repeat;
}

h1.gallery{
    margin: 30px auto;
}

div.container{
    width: 1200px;
    margin: 20px auto 0;
    text-align: center;
}

div.container > div.thumbs{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 50px;
}

div.thumb.box {
    width: 240px;
    height: 240px;
    padding: 20px;
}

div.thumb.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

img.art{
    border: 1px solid gray;
    margin: 20px auto 0;
}

img.art.x{
    width: 1200px;
    height: auto;
}

img.art.y{
    height: 900px;
    width: auto;
}

img.gallery.pic{
    width: 800px;
}

img.gallery.pic.x{
    width: 1200px;
}

div.texts{
    border: 4px double gray;
    text-align: left;
    width: 640px;
    height: auto;
    margin: 30px auto 0;
    padding: 30px;
}

div.texts h1{
    font-size: 1.2rem;
    font-weight: bold;
}

div.texts h2{
    font-size: 1rem;
}

div.back {
    margin: 0 auto;
    padding: 50px 0 50px;
}

div.back a{
    font-size: 1rem;
}

div.lang {
    margin: 0 auto;
    padding: 0 0 50px;
}

div.lang a{
    font-size: 1rem;
}

@media screen and (max-width: 1000px){
    div.container{
        width: 100%;
        padding: 50px 0 0;
    }

    div.thumb.box {
        width: 44vw;
        height: 44vw;
        padding: 3vw;
    }

    div.texts{
        width: 100%;
    }

    img.gallery.pic{
        width: 100%;
    }

    img.gallery.pic.x{
        width: 100%;
    }

    div.texts{
        width: 80%;
        padding: 5%;
    }
}