@charset "UTF-8";

html{
    font-size: 20px;
}

body{
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment : fixed;
    background-size: 100% auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin: 0;
    padding: 4px 20px 0;
}

header img{
    border: 0;
}

h2{
    font-size: 1rem;
    font-weight: normal;
    margin: 5px auto;
}

a{
    text-decoration: none;
}

hr{
    opacity: 0.5;
    margin: 20px auto;
}

img{
    border: 1px solid gray;
}

footer{
    /*font-size: 1rem;*/
    width: 100%;
    margin: 0;
    padding: 15px 0 15px;
    /*background-color: #333333;*/
    border-top: 4px double gray;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
}

footer div{
    font-size: 1rem;
}

div.container{
    /*Height === Window.height - header - footer*/
    width: 800px;
    /*background-color: #111111;*/
    margin: 0 auto;
    text-align: left;
}

div.logo{
    width: 180px;
    text-align: left;
}

div.logo img{
    height: 50px;
}

div.lang_links{
    padding: 0 0 10px;
}

div.c{
    display: flex;
    text-align: center;
    margin: 0 auto;
}

div.c > :nth-child(1){
    padding: 0 5px 5px;
    margin: 0 0 0 auto;
}

div.c > :nth-child(2){
    padding: 0 5px 5px;
    margin: 0 auto 0 0;
}

div.blank{
    width: 100%;
    height: 25vh;
}

@media screen and (max-width: 1000px){
    html{
        font-size: 40px;
    }

    body{
        background-size: auto 100%;
        background-position: right bottom;
    }

    header {
        position: fixed;
        width: 100%;
        height: 150px;
        text-align: right;
        padding: 0;
        margin: 0;
    }

    footer{
        position: relative;
    }

    div.container{
        padding: 150px 0 0;
        width: 90%;
    }

    div.logo{
        position: absolute;
        width: 85vw;
        margin: 0 auto;
        text-align: left;
        top: 0px;
        left: 20px;
    }

    div.logo img{
        width: 60vw;
        height: auto;
        position: absolute;
        top: 10px;

    }

    div.c{
        display: block;
    }

    div.c > div{
        padding: 0 5px;
        margin: 0;
    }
}